.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  list-style: none;
  width: 206px;
  border: 1px solid rgba(229, 231, 235, 1);
}
.menu__icon {
  font-size: 2rem;
}

.menu__link {
  display: block;
  padding: 16px;
  width: 100%;
  color: black;

   &:hover {
    cursor: pointer;
    background-color: rgba(243, 244, 246, 1);
  }
}
.menu__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__name {
  font-size: 1.6rem;
}
