.mycoin {
    max-height: 260px;
    width: 100%;
    border: 1px solid rgba(229, 231, 235, 1);
    padding: 30px;
}

.mycoin__header {
    font-size: 2rem;

}
.mycoin__content {
    font-size: 1.6rem;
    margin-top: 10px;
}